@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap/dist/css/bootstrap.css" />
</head>

@*Contact Welcome*@
<div>
    <div class="container-fluid block_black">
        <h1 class="block_Text_header_black container ">
            СВЯЖИТЕСЬ С НАМИ
        </h1>
        <h3 class="block_Text_black container">
            Мы ежедневно помогаем многим предприятиям организовать связь с клиентами и внутри компании, наладить видеонаблюдение в здании,
            построить системы доступа и компьютерные сети. Поэтому люди искренне ценят нашу компанию, и не только пользователи.<br />
            Над продуктом работают сотрудники, увлеченные своим делом: приносить пользу.
        </h3>
    </div>
</div>
@*Contact Welcome*@

@*Contact Info*@
<div>
    <div class="container-fluid contact_info">
        <h1 class="container ">
            Контакты
        </h1>
        <h3 class="container">
            Общество с ограниченной ответственностью «ОЛФОНЕТ» <br/>
            E-mail:mail@olfonet.by<br />
            Телефоны:<br />
            +375 (29) 677-70-90<br />
            +375 (17) 555-00-55<br />
        </h3>
    </div>
</div>
@*Contact Info*@
@*АДРЕСА*@
<div class="block_black_brands">
    <ul class="brands container">
        <li class="feature__item">
            <a href="#">
                <img class="rounded-circle" src="~/media/contact/minsk_img.jpg" alt="Blockchain">
            </a>
            <h1>Минск</h1>
            <p>ул. Бехтерева, д.7 офис 23, Минская обл., г. Минск  </p>
        </li>
        <li class="feature__item">
            <a href="#">
                <img class="rounded-circle" src="~/media/contact/borisov_img.jpg" alt="Blockchain">
            </a>
            <h1>Борисов</h1>
            <p>ул. Батурина, д.22, каб.1 Минская обл., г. Борисов</p>
        </li>
        <li class="feature__item">
            <a href="#">
                <img class="rounded-circle" src="~/media/contact/grodno_img.jpg" alt="Blockchain">
            </a>
            <h1>Гродно</h1>
            <p>Ул. Обухова, 18</p>
        </li>
    </ul>
</div>
@*АДРЕСА*@

