@page
@model IndexModel
@{
    ViewData["Title"] = "itStandarts";
}
<head>
    <link rel="stylesheet" href="~/css/it_standarts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap/dist/css/bootstrap.css" />
</head>
@*itStandarts Welcome*@
<div class="style_welcome img-fluid">
    <sector class="py-5 text-center container text-white ">
        <div class="welcome_text px-3 my-3 text-center">
            <h1 class="display-6 fw-bold">Стандарты ИТ обслуживания</h1>
            <h3 class="lead mb-3">
                IT-стандарт - одна из особенностей растущего мирового рынка информационных технологий.
            </h3>
        </div>
    </sector>
</div>
@*itStandarts Welcome*@

@*itStandarts Block_1*@
<div>
    <div class="container-fluid block_white">
        <h1 class="block_Text_header container ">
            Предупреждение проблем
        </h1>
        <h3 class="block_Text container">
            Основная задача бизнеса - прибыль. ИТ-инфраструктра - инструмент получения прибыли.
            Бесперебойность, удобство, современность - вот ключевые требования к ИТ-инфраструктуре.
        </h3>
    </div>
</div>
@*itStandarts Block_1*@
@*itStandarts Block_1*@
<div>
    <div class="container-fluid block_black">
        <h1 class="block_Text_header_black container ">
            Защита данных
        </h1>
        <h3 class="block_Text_black container">
            Если ИТ-инфраструктура - это инструмент бизнеса, то данные (информация) - это основа бизнеса.

            Данные могут быть испорчены, утрачены, украдены - за много лет работы мы столкнулись с десятками различных сценариев. </br>
            А ведь помимо самих данных, чуть ли не более важную роль играет скорость их восстановления.
        </h3>
    </div>
</div>
@*itStandarts Block_1*@


@*itStandarts Block_2*@
<div>
    <div class="container-fluid block_white">
        <h1 class="block_Text_header container ">
            Документация и учет
        </h1>
        <h3 class="block_Text container">
            К счастью, современные ИТ-системы и подходы позволяют оперативно и качественно учитывать и документировать любые изменения в ИТ-инфраструктуре.</br>
            </br>
            "Нет учета - нет управления. Не записано - забыто".
        </h3>
    </div>
</div>
@*itStandarts Block_2*@
@*itStandarts Block_2*@
<div>
    <div class="container-fluid block_black">
        <h1 class="block_Text_header_black container ">
            Согласование и контроль стандартов
        </h1>
        <h3 class="block_Text_black container">
            Наша команда всегда старается организовать ИТ-инфраструктуру своих клиентов в соответствии с лучшими практиками.</br>
            </br>
            Политика учетных записей (именование, пароли, права доступа на рабочих станциях)</br>

            Руководство и ответственные лица клиента всегда знают и поддерживают в актуальном состоянии перечень пользователей. </br>
            В зависимости от требований бизнеса определяются права доступа к рабочим станциям, для четкого определения зоны ответственности сторон и рисков, связанных с предоставлением полных прав доступа.
        </h3>
    </div>
</div>
@*itStandarts Block_2*@


@*itStandarts Block_3*@
<div>
    <div class="container-fluid block_white">
        <h1 class="block_Text_header container ">
            Информационная безопасность
        </h1>
        <h3 class="block_Text container">
            Информационная безопасность </br>
            В большинстве случаев, руководители бизнеса предполагают, что доверив ИТ-инфраструктуру аутсорсеру, они автоматически "ставят галочку" в вопросе информационной безопасности (ИБ). </br>
            </br>
            В 90% организаций понятие ИБ отсутствует как класс на административном уровне.</br>
            Тем не менее, руководство клиента почему-то всегда уверено, что специалисты ИТ не только знают лучше них самих об их конфиденциальных данных, но и четко соблюдают стандарты ИБ;</br>
        </h3>
    </div>
</div>
@*itStandarts Block_3*@
@*itStandarts Block_3*@
<div>
    <div class="container-fluid block_black">
        <h1 class="block_Text_header_black container ">
            Развитие
        </h1>
        <h3 class="block_Text_black container">
            В соответствии с нашей концепцией , ИТ аутсорсинг не является таковым без постоянного развития,</br>
            и мы растем вместе с нашими клиентами.</br>
            </br>
            Любой руководитель бизнеса строит планы по развитию, а любой план развития бизнеса должен учитывать развитие ИТ-инфраструктуры.</br>
        </h3>
    </div>
</div>
@*itStandarts Block_3*@